
$color: rgb(119, 27, 84);
.myDiv{
    color: $color;
    height: 800px;
    padding-top: 50px;
  //   background-image: url('../../assets/cover.jpg');
    
  // background-repeat: no-repeat;
  // background-size: cover;

}